<div class="dialog-container">
  <div class="dialog-title">
    <span id="dialog-title">{{title}}</span>
    <span class="dialog-close" (click)="onCancelPressed()">✕</span>
  </div>
  <div id="dialog-content" class="dialog-content">
    <ng-content></ng-content>
  </div>
  <div *ngIf="!hideCustomButton" class="dialog-footer">
    <button id="dialog-custom-btn" (click)="customButtonPressed()">{{buttonText}}</button>
  </div>
</div>

<div (click)="cancelOnBackgroundClick ? onCancelPressed() : null" id="dialog-backdrop" class="dialog-backdrop"></div>
