<button (click)="openDialog(dialogTemplateWithText, {title: 'Dialog Title', buttonText: 'Close'})">Dialog with Text</button>
<button (click)="openDialog(dialogTemplateWithForm, {title: 'Login', buttonText: 'Submit'})">Dialog with Form</button>
<button (click)="openDialog(dialogTemplateWithComponent, {title: 'Component Title', buttonText: 'OK'})">Dialog with Component</button>

<ng-template #dialogTemplateWithText>
  <div>Dialog box with description</div>
</ng-template>

<ng-template #dialogTemplateWithForm>
  <div>
    <form>
      <label for="fName">First name:</label><br>
      <input type="text" id="fName" class="input" value="John"><br><br>
      <label for="lName">Last name:</label><br>
      <input type="text" id="lName" class="input" value="Doe"><br><br>
    </form>
  </div>
</ng-template>

<ng-template #dialogTemplateWithComponent>
  <app-test/>
</ng-template>
