<button id="btn-text-alert"
        (click)="openDialog(dialogTemplateWithText, {title: 'Dialog Title', cancelOnBackgroundClick: true})">
  Dialog with Text
</button>
<button id="btn-form-alert"
        (click)="openDialog(dialogTemplateWithForm, {title: 'Login', customButtonHandler: dummyFunction})">
  Dialog with Form
</button>
<button id="btn-component-alert" (click)="openDialog(dialogTemplateWithComponent, {title: 'Component Title', hideCustomButton: true})">
  Dialog with Component
</button>

<ng-template #dialogTemplateWithText>
  <div>Dialog box with description</div>
</ng-template>

<ng-template #dialogTemplateWithForm>
  <div>
    <form>
      <label id="fName-lbl" for="fName">First name:</label><br>
      <input type="text" id="fName" class="input"><br><br>
      <label id="lName-lbl" for="lName">Last name:</label><br>
      <input type="text" id="lName" class="input"><br><br>
    </form>
  </div>
</ng-template>

<ng-template #dialogTemplateWithComponent>
  <app-demo/>
</ng-template>
